body {
  font-family: sans-serif;
  background-image: url('sweet-desserts-chocolate-candies.jpg');
}

.neutral {
  background-color: rgb(247, 227, 240);
}

.title {
  font-family: 'Satisfy', cursive;
  color: #fe00fe;
}

h1 {
  text-align: center;
  font-family: Chalkduster, fantasy;
  font-weight: 900;
  text-shadow: 2px 2px white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: Chalkduster, fantasy;
}

form div {
  margin: 1em;
  display: inline-block;
}

.buttonC {
  border: none;
  outline: none;
  height: 40px;
  background: #165692;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.buttonC:hover {
  background: #ffc107;
  color: #000;
}

.header {
  background-color: rgba(26, 155, 194, 0.824);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: Chalkduster, fantasy;
}

.singleProduct_page {
  font-family: Chalkduster, fantasy;
  padding: 1rem;
  justify-content: center;
}

#cart h3 {
  background-color: rgba(26, 155, 194, 0.824);
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: Chalkduster, fantasy;
  text-shadow: 1px 1px grey;
}

.cartproducts {
  font-family: Chalkduster, fantasy;
  text-shadow: 1px 1px white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 1rem;
}

#cart_total {
  font-family: Chalkduster, fantasy;
  padding: 1rem;
  text-shadow: 1px 1px white;
}

.field {
  padding: 0.42857em;
  width: 30%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px transparent solid;
  font-size: 1em;
}

.product-field {
  padding: 0.42857em;
  width: 20%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px blue solid;
  font-size: 1em;
}

:required {
  border-color: rgb(48, 242, 58);
}

:invalid {
  border-color: red;
}

:required:focus:valid {
  background: url('https://clipartart.com/images/area-check-clear-clipart-1.jpg')
    no-repeat 95% 50%;
  background-size: 25px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 1rem;
  font-family: Chalkduster, fantasy;
}

.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  padding: 1rem;
}

.checkout-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.checkout-card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  padding: 1rem;
}

.form {
  margin: 2%;
}

.navbar {
  /* background: linear-gradient(to left, #ba7453, #d1a984); */
  background-color: transparent;
}

.navbar a {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px white;
}
