body {
  font-family: sans-serif;
}

.title {
  font-family: 'Satisfy', cursive;
  color: #fe00fe;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
